* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Inria Serif', serif;
    line-height: 1.6;
  }
  a {
      text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Tomorrow', sans-serif;
  } 
  ul {
      list-style: none;
  }
  